body {
  font-family: 'Roboto', sans-serif;
}

.table {
  width: 60%;
  font-size: 9px;
  margin: auto;
  border-color: #fff;
}
.center {
  text-align: center
}

.border-ne {
  border: solid 1px #000;
  text-align: center;
  padding-top: 15px;
}

footer {
  background-color: #00235E;
  height: 40px;
}